/* This CSS is for the body */
body {
  background: #b5b3b1;
  letter-spacing: 0.3em;
  font-size: 0.8em;
}
.container {
  max-width: 400px;
}

/* Css for icon Styling */
.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 105px;
  margin-bottom: -50px;
}
